button {
	border: none;
	font-size: 1rem;
	font-weight: 600;
	box-shadow: 3px 3px 3px rgb(27, 27, 27);
}

.black {
	background-color: black;
	color: #ffc60b;
	padding: 1rem 2rem;
	transition: all 0.3s ease-in;
}

.black:hover {
	cursor: pointer;
	background-color: #ff8b00;
	color: black;
	transition: all 0.3s ease-in;
}

.yellow {
	background-color: #ffc60b;
	color: black;
	padding: 1rem 2rem;
	transition: all 0.3s ease-in;
}

.yellow:hover {
	cursor: pointer;
	background-color: black;
	color: #ffc60b;
	transition: all 0.3s ease-in;
}
