.carousel-container {
	width: 100%;
	height: 75vh;
	position: relative;
}

.arrow-button-left {
	position: absolute;
	bottom: calc(50% + 5vh);
	left: 2%;
	z-index: 1;
}

.arrow-button-right {
	position: absolute;
	bottom: calc(50% + 5vh);
	right: 2%;
	z-index: 1;
}
